html{background-color: white;}
header { width:1170px; height:0px;}
nav { width: 1170px; height: 38px; border: #f7f7ff; background-color: #6d6d6d; position: fixed; top: 0%; width: 100%;}
nav ul { list-style:none; margin:0; padding:8px; overflow: hidden;}
nav ul li { display: inline-block;}
nav ul li a { font-size: 0.87em; text-decoration: none; color: rgb(255, 255, 255); padding: 10px 35px;}
nav ul li a:hover { background-color: #ff6c6c;}
/* configuraçõoes para responsividade da primeira imagem */
.container1 {
  background-image: url(../images/castle.jpg);
  background-size: cover;
  margin-top: 38.5px;
  height: 90vh;
  width: 50vw;
}
@media (min-width: 520px) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
@media (min-width: 750px) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
@media (min-width: 1024) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
/* Configurações para a responsidade da segunda imagem */
.container2 {
  background-image: url(../images/Estátuas.jpg);
  background-size: cover;
  margin-top: 33px;
  height: 90vh;
  width: 50vw;
  float: right; 

}
@media (min-width: 520px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}
@media (min-width: 750px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}
@media (min-width: 1024px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}

/* Essa foi a gambiarra pra ficar uma do lado da outra mas não fica responsivo */
/* #container1 {
  margin-top: 33px;
  width: 585px;
  height: 553px;
  background-image: url(../images/castle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#container2 {
  margin-top: -554px;
  width: 585px;
  height: 554px;
  background-image: url(../images/Estátuas.jpg);
  background-repeat: no-repeat;
  float: right;
  background-size: cover;
} */
