nav { width: 1177.5px; background-color: #6d6d6d;margin-top: -1.3vh; }
nav ul { list-style:none; margin:0; padding:10px; }
nav ul li { display:inline-block; }
nav ul li a { font-size: 0.90em; text-decoration: none; color: #FFF; padding: 10px 30px; }
nav ul li a:hover { background-color: #ff6c6c; }

.textbox {
  position: absolute;
  top: 9vh;
}
.textbox2 {
  position: absolute;
  top: 45vh;
}
#text {
  padding-left: 45vw;
  text-align: center;
  color: rgb(24, 24, 24);
  font-family: fantasy sans-serif;
  font-size: clamp(1em, 3em + 1vw, 4em);
}
#text2 {
  padding-left: 53vw;
  text-align: left;
  color: #555454;
  font-family: sans-serif;
  font-size: clamp(1em, 1.5em + 1vw, 2em);
  opacity: 1;
}

/* configuraçõoes para responsividade da primeira imagem */
#apoio {
  display: inline-flex;
  position: relative;
}
.container1 {
  background-image: url(../images/castle.jpg);
  background-size: cover;
  margin-top: 0px;
  height: 90vh;
  width: 49.4vw;
  opacity: 0.80;

}
@media (min-width: 520px) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
@media (min-width: 750px) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
@media (min-width: 1024) {
  .container1 {
    background-image: url(../images/castle.jpg);
  }
}
/* Configurações para a responsidade da segunda imagem */
.container2 {
  background-image: url(../images/Estátuas.jpg);
  background-size: cover;
  margin-top: 0px;
  height: 90vh;
  width: 49.9vw;
  float: right;
  opacity: 0.40;
}
@media (min-width: 520px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}
@media (min-width: 750px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}
@media (min-width: 1024px) {
  .container2 {
    background-image: url(../images/Estátuas.jpg);
  }
}

/* Essa foi a gambiarra pra ficar uma do lado da outra mas não fica responsivo */
/* #container1 {
  margin-top: 33px;
  width: 585px;
  height: 553px;
  background-image: url(../images/castle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#container2 {
  margin-top: -554px;
  width: 585px;
  height: 554px;
  background-image: url(../images/Estátuas.jpg);
  background-repeat: no-repeat;
  float: right;
  background-size: cover;
} */
